html {

}
body {
    position: relative;
    font-family: 'SegoeUI', 'Segoe UI';
    margin: 0;
}
.left-side-blue {
    background: url('../img/nav-background.svg') no-repeat;
    z-index: -1;
}

/* Navigation part */
.navbar-container {
    padding: 40px;
    text-align: center;
}
.nav-left {
    display: inline-block;
    margin-right: 11%;
}
.nav-center {
    display: inline;
    margin-bottom: 10px;
}
.nav-right {
    display: inline-block;
    margin-left: 11%;
}
.bottom-align {
    vertical-align: text-bottom;
}

.nav-item {
    display: inline-block;
    margin: 10px;
}
.form-item {
    display: inline;
}
.nav-text { 
    color: #0392CF;
    font-size: 24px;
    text-decoration: none;
}
.input-container {
    position: relative;
}
.input-container > #search-icon {
    position: absolute;
    right: 15px;
    bottom: 1px;
}
.nav-search-input {
    height: 45px;
    width: 40%;
    border: solid 1px #9DADBC;
    border-radius: 5px;
    padding: 0 38px 0 16px;
    font-size: 20px;
    font-family: 'Segoe UI';
    outline: none;
    margin-bottom: 10px;

}
.chart-icon {
    margin-bottom: 16px;
}
.nav-search-input::placeholder {
    color: #9DADBC;
}
#login-nav {
    margin-bottom: 16px;
}
#signup-nav{
    margin-bottom: 10px;
}
/*  Section Containers */

.container {
    margin: 10px 50px;
}

/* Slideshow  */
.slide-background {
    position: relative;
    bottom: 60px;
    height: 150px;
    margin-bottom: -100px;
    background: url('../img/slide-background.svg') no-repeat bottom;
    z-index: -1;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: inline-block;
  max-width: 76%;
  position: relative;
  margin-left: 6%;
}

/* Hide the images by default */
.mySlides {
    /* height: 600px; */
   
}
.slide-img{
    width: 100%;
    height: 530px;
    object-fit: cover;
    border-radius: 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #0392cf;
  opacity: 0.8;
}
.dot-container {
    text-align: right;
    margin: 2% 5% 0 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 10px;
  background-color: #0392cf;
  border-radius: 25%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}   

.side-container {
    display: inline;
    position: absolute;
    margin: 0 10px 10px 5px;
    padding-bottom: 10px;
}

.side-img {
    width: 67%;
    height: auto;
    border-radius: 5px;
}

.side-img:hover {
    opacity: .7;
    transition: opacity .3s ease-out;
}

/* Featured and Categories */
.title {
    color: #394855;
    margin-bottom: 24px;
}

.categories-container {
    display: inline-block;
    padding-left: 6%;
}

.categories-container > ul {
    padding:0;
}
.categories-container > ul > li {
    list-style: none;
    margin: 10px 10px 24px 0;
    color: #0392CF;
}

.featured-container {
    display: inline-block;
    margin-left: 10%;
    width: 55%;
}
.book-row {
    display: inline-block;
}

.book-container {
    display: inline-block;
    width: 21%;
    margin: 12px;
}

.books-grid {
    margin-top: 4%;
}
.br{
    width: 19%;
    margin: 0;
    padding: 0 4px;
}
.book-cover {
    width: 90%;

}
.book-cover:hover{
    color: #394855;
    opacity: .7;
    transition: opacity .3s ease-out;
}
.book-title {
    color: #394855;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 16px;
   

}
.book-price{
    color: #0392CF;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.filter-section{
    margin: 0 7%;
    padding-left: 10px;
}
.filter-title{ 
    font-size: 25px;
    color: #9DADBC
}
.filter-active {
    color:#0392CF;
}
.grid-row {
    margin: 3% 0 0 6% ;
}
.load-more-container {
    text-align: center;
    margin: 3% 0;
}
.load-more-btn{
    outline: none;
    width: 30%;
    height: 45px;
    background-color: transparent;
    border: solid 1px #0392CF;
    border-radius: 4px;
    color: #0392CF;
}


.bottom-background {
    height: 50px;
}
/* Supporting different screens */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        background-color: rebeccapurple;
    }
}

.info-container {
    position: relative;
    display: inline-block;
    width: 40%;
    background-color: #394855;
    color: white;
    opacity: 0.7;
    border-radius: 5px;
    padding: 16px;
    margin-left: 6%;
    margin-top: 2%;
    vertical-align: top;
    z-index: 1;

}
.info-description {
    display: inline-block;
}
.maps-container {
    position: absolute;
    right: 9%;
    display: inline-block;
    width: 50%;
    height: 500px;
    background: url('../img/map.svg') no-repeat;
    border-radius: 5px;
}
.seperator {
    display: inline-block;
    height: 500px;
}
.marker {
    display: inline-block;
    background: url('../img/marker.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.contact-container {
    display: inline-block;
    width: 50%;
    margin-top: 4%;
    margin-left: 6%;
}

.app-download-container {
    position: absolute;
    margin-top: 4%;
    right: 1px;
    /* left: 1px; */
    display: inline-block;
    width: 30%;
}

.contact-container > h2 {
    color: #394855;
}

.contact-container > div {
    color: #394855;
    width: 76%;
}

.app-download-container > h2 {
    color: #394855;
}
.app-download-container > div {
    color: #394855;
    margin: 16px;
}

.singup-input {
    width: 60%;
}
.background-footer {
    position: relative;
    background: url('../img/slide-background.svg') no-repeat;
    background-position: top;
}

.apple {
    display: inline-block;
    background: url('../img/apple.svg') no-repeat;
    height: 30px;
    width: 30px;
}
.android {
    display: inline-block;
    background: url('../img/android.svg') no-repeat;
    height: 30px;
    width: 30px;
}

.signup-btn {
    color: white;
    height: 48px;
    width: 30%;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #0392CF;
    outline: none;
    border: solid 1px #9DADBC;
    vertical-align: bottom;

}
.brand-text {
    display: inline-block;
    vertical-align: super;
    margin-top: 10px;
}
.nav-links {
    position: relative;
    margin: 8% 6% 0 6%
}

.nav-link {
    display: inline-block;
    margin-left: 12%;
}
.nav-link:first-child {
    margin-left: 0;
}
.nav-link > h2 {
    color: #394855;
}
.nav-link > ul {
    padding: 0;

}
.nav-link > ul > li {
    padding: 0;
    list-style: none;
    margin: 10px 0;
    color: #9DADBC;
    cursor: pointer;
    user-select: none;
}

.nav-link > ul > li:hover {
    color: #717171;
    text-decoration: underline;
   
}
.bottom-background {
    position: absolute;
    display: inline-block;
    right: 1px;
    bottom: 1%;
    background: url('../img/nav-background.svg') no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    height: 100%;
    width:400px;
    z-index: -1;

}
.copyright-container {
    margin: 2% 6%;
}

.copyright-container > .right-side {
    display: inline-block;
    width: 48%;
    text-align: left;
    color: #9DADBC;
}

.copyright-container > .left-side {
    display: inline-block;
    width: 48%;
    text-align: right;
    color: #9DADBC;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        /* background-color: coral; */
    }

    .nav-left {
        display: inline-block;
        margin-right: 6%;
    }
    .nav-center {
        display: inline;
        margin-bottom: 10px;
    }
    .nav-right {
        display: inline-block;
        margin-left: 6%;
    }

}

/* Largests one */
@media only screen and (min-width: 1600px) {
    body {
        /* background-color: red; */
    }
}