html {

}
body {
    position: relative;
    font-family: 'SegoeUI', 'Segoe UI';
    margin: 0;
}
.left-side-blue {
    background: url('../img/nav-background.svg') no-repeat;
    z-index: -1;
}

/* Navigation part */
.navbar-container {
    padding: 40px;
    text-align: center;
}
.nav-left {
    display: inline-block;
    margin-right: 11%;
}
.nav-center {
    display: inline;
    margin-bottom: 10px;
}
.nav-right {
    display: inline-block;
    margin-left: 11%;
}
.bottom-align {
    vertical-align: text-bottom;
}

.nav-item {
    display: inline-block;
    margin: 10px;
}
.form-item {
    display: inline;
}
.nav-text { 
    color: #0392CF;
    font-size: 24px;
    text-decoration: none;
}
.input-container {
    position: relative;
}
.input-container > #search-icon {
    position: absolute;
    right: 15px;
    bottom: 1px;
}
.nav-search-input {
    height: 45px;
    width: 40%;
    border: solid 1px #9DADBC;
    border-radius: 5px;
    padding: 0 38px 0 16px;
    font-size: 20px;
    font-family: 'Segoe UI';
    outline: none;
    margin-bottom: 10px;

}
.chart-icon {
    margin-bottom: 16px;
}
.nav-search-input::placeholder {
    color: #9DADBC;
}
#login-nav {
    margin-bottom: 16px;
}
#signup-nav{
    margin-bottom: 10px;
}
/*  Section Containers */

.container {
    margin: 10px 50px;
}

/* Slideshow  */
.slide-background {
    position: relative;
    bottom: 60px;
    height: 150px;
    margin-bottom: -100px;
    background: url('../img/slide-background.svg') no-repeat bottom;
    z-index: -1;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: inline-block;
  max-width: 65%;
  position: relative;
  margin-left: 6%;
}

/* Hide the images by default */
.mySlides {
    /* height: 600px; */
   
}
.slide-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #0392cf;
  opacity: 0.8;
}
.dot-container {
    text-align: right;
    margin: 2% 5% 0 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 10px;
  background-color: #0392cf;
  border-radius: 25%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}   

.side-container {
    display: inline;
    position: absolute;
    margin: 0 10px 10px 5px;
    padding-bottom: 10px;
}
.side-item {
    margin-bottom: 1%;
}
.side-img {
    width: 69%;
    height: auto;
    border-radius: 5px;
}

.side-img:hover {
    opacity: .7;
    transition: opacity .3s ease-out;
}

/* Featured and Categories */
.title {
    color: #394855;
    margin-bottom: 24px;
}

.categories-container {
    display: inline-block;
    padding-left: 6%;
}

.categories-container > ul {
    padding:0;
}
.categories-container > ul > li {
    list-style: none;
    margin: 10px 10px 24px 0;
    color: #0392CF;
}

.featured-container {
    display: inline-block;
    margin-left: 10%;
    width: 55%;
}
.book-row {
    display: inline-block;
}

.book-container {
    display: inline-block;
    width: 21%;
    margin: 12px;
}

.books-grid {
    margin-top: 4%;
}
.br{
    width: 19%;
    margin: 0;
    padding: 0 4px;
}
.book-cover {
    width: 90%;

}
.book-cover:hover{
    color: #394855;
    opacity: .7;
    transition: opacity .3s ease-out;
}
.book-title {
    color: #394855;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 16px;
   

}
.book-price{
    color: #0392CF;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.filter-section{
    margin: 0 7%;
    padding-left: 10px;
}
.filter-title{ 
    font-size: 25px;
    color: #9DADBC
}
.filter-active {
    color:#0392CF;
}
.grid-row {
    margin: 3% 0 0 6% ;
}
.load-more-container {
    text-align: center;
    margin: 3% 0;
}
.load-more-btn{
    outline: none;
    width: 30%;
    height: 45px;
    background-color: transparent;
    border: solid 1px #0392CF;
    border-radius: 4px;
    color: #0392CF;
}

.bottom-background {
    height: 50px;
}


.info-container {
    position: relative;
    display: inline-block;
    width: 40%;
    background-color: #394855;
    color: white;
    opacity: 0.7;
    border-radius: 5px;
    padding: 16px;
    margin-left: 6%;
    margin-top: 2%;
    vertical-align: top;
    z-index: 1;

}
.info-description {
    display: inline-block;
}
.maps-container {
    position: absolute;
    right: 9%;
    display: inline-block;
    width: 50%;
    height: 500px;
    background: url('../img/map.svg') no-repeat;
    border-radius: 5px;
}
.seperator {
    display: inline-block;
    height: 500px;
}
.marker {
    display: inline-block;
    background: url('../img/marker.svg') no-repeat;
    width: 24px;
    height: 24px;
}

.contact-container {
    display: inline-block;
    width: 50%;
    margin-top: 4%;
    margin-left: 6%;
}

.app-download-container {
    position: absolute;
    margin-top: 4%;
    right: 1px;
    /* left: 1px; */
    display: inline-block;
    width: 30%;
}

.contact-container > h2 {
    color: #394855;
}

.contact-container > div {
    color: #394855;
    width: 76%;
}

.app-download-container > h2 {
    color: #394855;
}
.app-download-container > div {
    color: #394855;
    margin: 16px;
}

.singup-input {
    width: 60%;
}
.background-footer {
    position: relative;
    background: url('../img/slide-background.svg') no-repeat;
    background-position: top;
}

.apple {
    display: inline-block;
    background: url('../img/apple.svg') no-repeat;
    height: 30px;
    width: 30px;
}
.android {
    display: inline-block;
    background: url('../img/android.svg') no-repeat;
    height: 30px;
    width: 30px;
}

.signup-btn {
    color: white;
    height: 48px;
    width: 30%;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #0392CF;
    outline: none;
    border: solid 1px #9DADBC;
    vertical-align: bottom;

}
.brand-text {
    display: inline-block;
    vertical-align: super;
    margin-top: 10px;
}
.nav-links {
    position: relative;
    margin: 8% 6% 0 6%
}

.social {
    color: #394855 !important;
    margin: 0 !important;
    text-decoration:  none !important; 
}

.nav-link {
    display: inline-block;
    margin-left: 12%;
    vertical-align: top;
}
.nav-link:first-child {
    margin-left: 0;
}
.nav-link > h2 {
    color: #394855;
}
.nav-link > ul {
    padding: 0;

}
.nav-link > ul > li {
    padding: 0;
    list-style: none;
    margin: 10px 0;
    color: #9DADBC;
    cursor: pointer;
    user-select: none;
}

.nav-link > ul > li:hover {
    color: #717171;
    text-decoration: underline;
   
}
.bottom-background {
    position: absolute;
    display: inline-block;
    right: 1px;
    bottom: 1%;
    background: url('../img/nav-background.svg') no-repeat;
    background-position-y: bottom;
    background-position-x: right;
    height: 100%;
    width:400px;
    z-index: -1;

}
.copyright-container {
    margin: 2% 6% 2% 8%;
}

.copyright-container > .right-side {
    display: inline-block;
    width: 48%;
    text-align: left;
    color: #9DADBC;
}

.copyright-container > .left-side {
    display: inline-block;
    width: 48%;
    text-align: right;
    color: #9DADBC;
}
.paypal {
    background: url('../img/paypal.svg') no-repeat;
    height: 40px;
    width: auto;
}

.visa {
    background: url('../img/visa.svg') no-repeat;
    height: 40px;
    width: auto;
}

.youtube {
    display: inline-block;
    background: url('../img/youtube.svg') no-repeat;
    height: 40px;
    width: 40px;
    
}
.twitter {
    display: inline-block;
    background: url('../img/twitter.svg') no-repeat;
    height: 40px;
    width: 40px;
}
.instagram {
    display: inline-block;
    background: url('../img/instagram.svg') no-repeat;
    height: 40px;
    width: 40px;
}
.facebook {
    display: inline-block;
    background: url('../img/facebook.svg') no-repeat;
    height: 40px;
    width: 40px;
}
.master-card {
    background: url('../img/master-card.svg') no-repeat;
    height: 40px;
    width: auto;
}

.social-text {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    body {
        background-color: gray;
    }
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    body {
        /* background-color: coral; */
        color: red;
        /* margin: 90px; */
    }

    .nav-left {
        display: inline-block;
        margin-right: 6%;
    }
    .nav-center {
        display: inline;
        margin-bottom: 10px;
    }
    .nav-right {
        display: inline-block;
        margin-left: 6%;
    }
    .slideshow-container {
        max-width: 65%
    }
    .side-container {
        width: 29%;
    }
    .side-item {
        margin-bottom:2px;
    }

    .featured-container {
        margin-left: 3%;
        vertical-align: top;
    }
    .book-container {
        width: 19%;
        margin-bottom: 10px;    
    }

    .nav-link {
        margin-left: 8%;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #bookstore-txt {
        display: none;
    }


    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    #bookstore-txt {
        display: none;
    }
    .navbar-container {
        padding: 10px;
    }

    .nav-left {
        margin-right: 0;
    }
    .nav-right {
        margin-left: 0;
    }

    .slideshow-container {
        max-width: 70%;
    }

    .side-item {
        margin-bottom: 0;
    }
    .prev, .next {
        top: 44%;
    }
    .dot {
        height: 14px;
        width: 14px;
    }

    .featured-container {
        width: 80%;
    }
    .book-container {
        margin: 6px;
    }

    .book-title{
        font-size: 16px;
    }
    .book-price {
        font-size: 17px;
    }
    .br {
        width: 17%;
    }
    .info-container {
        width: 90%;
        height: 330px;
        opacity: 0.6;
    }
    .maps-container {
        margin-top: 35%;
        width: 80%;
        height: 450px;
    }
    .seperator{
        height: 700px;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
      .container {
        margin: 0px 25px;
      }
      .navbar-container {
          padding: 20px;
      }
    .left-side-blue {
        background: url('../img/nav-background.svg') no-repeat;
        background-size: 30%;
        z-index: -1;
    }
    .logo {
        height: 40px;
        width: 40px;
        margin-bottom: 6px;
    }
    .bottom-background {
        background-size: 30%;
    }
    #bookstore-txt {
        display: none;
    }
    .nav-left {
        margin-right: 0;
    }
    .nav-right {
        display: none;
    }
    .nav-search-input{
        width: 67%;
    }
    .input-container > #search-icon {
        bottom: 0;
    }
    .chart-icon {
        display: none;
    }
    .side-container {
        display: none;
    }
    .slideshow-container{
        max-width: 100%;
        margin-left: 0;
    }

    .dot {
        width: 12px;
        height: 12px;
        margin: 0 5px;
    }
    .featured-container {
        width: 97%;
        margin-left: 6%;
    }

    .book-container {
        margin: 0;
        width: 23%;
    }

    .book-title {
        font-size: 15px;
        margin-top: 0;
    }
    .book-price {
        font-size: 15px;
        margin-top: 5px;
    }

    .info-container {
        /* margin-left: 0; */
    }
    .info-container > h3 {
        margin:0;
    }
    .info-description {
        display: none;
    }
    .maps-container {
        width: 76%;
        height: 300px;
        margin-top: 15%;
    }
    .seperator {
        height: 400px;
    }
    .contact-container {
        width: 100%;
    }
    .signup-btn {
        font-size: 16px;
        height: 40px;
        margin-left: 0;
    }
    .app-download-container {
        position: relative;
        width: 100%;
        margin-left: 6%;
    }
    .nav-search-input {
        font-size: 16px;
        height: 40px;
    }
    .nav-link {
        margin-left:0;
        width: 49%;
    }
    .nav-link > ul {
        margin: 0;
    }
    .nav-link > h2 {
        margin-bottom: 0;
        /* font-size: 16px; */
    }
  
    .br{
        width: 48%;
        margin-bottom: 4%;
    }
  }
